@model galutine.Models.ViewModels.LoginVm
@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<form asp-action="Login" method="post">
    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input asp-for="Password" class="form-control" type="password" />
    </div>
    <div class="mb-3 form-check">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label">Remember me</label>
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
